@using SSNET_DataModel.Models
@model List<Productos>
@{
    Layout = "Header";
}

<div class="row">
    @foreach (var Producto in Model)
    {

        <div id="make-3D-space" class="col-md-4">
            <div class="product-card">
                <div class="product-front">
                    <div class="shadow"></div>

                    <div class="text-center" style="display: flex; justify-content: center; height: 200px;"><img src="data:image/png;base64, @Producto.Imagen" alt="" /></div>
                    <div class="image_overlay"></div>
                    <div class="view_details">Ver detalles</div>

                    <div class="stats">
                        <div class="stats-container">
                            <span class="product_price">$@Producto.Precio</span>
                            <span class="product_name">@Producto.Titulo</span>
                            <p onclick="add_item(@Producto.Id)" class="cart-@Producto.Id"><i class="fas fa-shopping-cart"></i>Agregar al Carrito</p>
                            <div class="snippet load-@Producto.Id d-none" data-title="Cargando..." style="margin: 20px 0 20px 20px;">
                                <div class="stage">
                                    <div class="dot-flashing"></div>
                                </div>
                            </div>
                            <div class="d-none success-@Producto.Id">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" style="margin-top: 3px;">
                                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                </svg>
                                <p style="margin-left: 8px; color: #7ac142 !important;">Se agregó al carrito</p>
                            </div>
                            <div class="product-options text-wrap">
                                <strong>DESCRIPCIÓN</strong>
                                <span>@Producto.Descripcion</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>